[submodule "Year I/Semester I/ASC/Project"]
	path = Year I/Semester I/ASC/Project
	url = https://github.com/Andrei137/Wordle-ASC-Project.git
[submodule "Year I/Semester II/BD/Project"]
	path = Year I/Semester II/BD/Project
	url = https://github.com/Andrei137/Database-Project.git
[submodule "Year I/Semester II/POO/Project"]
	path = Year I/Semester II/POO/Project
	url = https://github.com/Andrei137/Tic-Tac-Toe.git
[submodule "Year I/Semester II/TW/Project"]
	path = Year I/Semester II/TW/Project
	url = https://github.com/Andrei137/The-Entertainment-Hub.git
[submodule "Year II/Semester I/DAW/Project"]
	path = Year II/Semester I/DAW/Project
	url = https://github.com/Andrei137/DragonsLegacy.git
[submodule "Year II/Semester II/SGBD/Project"]
    path = Year II/Semester II/SGBD/Project
    url = https://github.com/Andrei137/DBMS-Project.git
[submodule "Year II/Semester I/SO/Project"]
	path = Year II/Semester I/SO/Project
	url = https://github.com/Andrei137/Flesh.git
[submodule "Year II/Semester II/AA/Project"]
	path = Year II/Semester II/AA/Project
	url = https://github.com/Andrei137/Genetic-Algorithms.git
[submodule "Year II/Semester II/IA/KR/Project"]
	path = Year II/Semester II/IA/KR/Project
	url = https://github.com/Andrei137/Dots-and-Boxes.git
[submodule "Year II/Semester II/MDS/Project"]
	path = Year II/Semester II/MDS/Project
	url = https://github.com/Andrei137/MediaMaster.git
[submodule "Year II/Semester II/PAO/Project"]
	path = Year II/Semester II/PAO/Project
	url = https://github.com/Andrei137/GameMaster.git
[submodule "Year II/Semester II/RC/Project"]
	path = Year II/Semester II/RC/Project
	url = https://github.com/curs-retele-2024/proiect-retele-2024-inner-shell
[submodule "Year III/Semester I/Grafica/Projects/CueQuest"]
	path = Year III/Semester I/Grafica/Projects/CueQuest
	url = https://github.com/Andrei137/CueQuest.git
[submodule "Year III/Semester I/IS/MediaMaster"]
	path = Year III/Semester I/IS/MediaMaster
	url = https://github.com/unibuc-cs/software-engineering-product-panic-driven-development
[submodule "Year III/Semester II/Bachelor"]
	path = Year III/Semester II/Bachelor
	url = https://github.com/Andrei137/Bachelor-Thesis
[submodule "Year III/Semester I/Nodejs/Homework/01"]
	path = Year III/Semester I/Nodejs/Homework/01
	url = https://github.com/arnia-unibuc/lab-1-basic-js-Andrei137
[submodule "Year III/Semester I/Nodejs/Homework/02"]
	path = Year III/Semester I/Nodejs/Homework/02
	url = https://github.com/arnia-unibuc/lab-2-express-js-Andrei137
[submodule "Year III/Semester I/Nodejs/Homework/03"]
	path = Year III/Semester I/Nodejs/Homework/03
	url = https://github.com/arnia-unibuc/lab-3-rest-architecture-Andrei137
[submodule "Year III/Semester I/Nodejs/Homework/04"]
	path = Year III/Semester I/Nodejs/Homework/04
	url = https://github.com/arnia-unibuc/lab-4-graphql-Andrei137
