@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Articles/Delete/@ViewBag.Article.Id”>
    <button type="submit">Stergere articol</button>
</form>
<hr />
<a href="/Articles/Index">Afisare articole</a>